<%= form_with(model: [experience, opinion]) do |form| %>
  <% if opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>
      <ul>
      <% opinion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fields">
    <%= form.text_area :content, id: "opinion_content_#{experience.id}" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
