<!-- この記述がblogのshow画面に表示されるコメント入力欄になります -->
<%= form_with(model: [experience, opinion]) do |form| %>
  <% if opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>
      <ul>
      <% opinion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fields">
    <hr>
    <%= form.label :コメントを投稿する %><br>
    <%= form.text_area :content %>
  </div>
  <div class="actions">
    <%= form.submit "投稿", class: "float-right" %>
  </div>
<% end %>
