<h1>動画詳細画面</h1>
<% unless @movie.user_id == current_user.id %>
  <% if @favorite_movie.present? %>
    <%= link_to 'お気に入り解除する', favorite_movie_path(id: @favorite_movie.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorite_movies_path(movie_id: @movie.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
<div class="container">
  <div class="row">
    <div class="movie-show col-xs-6">
      <%= video_tag @movie.icon.url, controls: true, autobuffer: true %>
      <h4><%= @movie.title %></h4>
      <div><%= @movie.user.name %></div>
      <div><%= @movie.content %></div>
    </div>
    <div class="col-xs-6">
      <p>コメント一覧</p>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, movie: @movie } %>
      </div>
      <%= render partial: 'comments/form', locals: { comment: @comment, movie: @movie } %>
    </div>
  </div>
</div>

<%= link_to '動画一覧画面に戻る',movies_path %>
