<%= form_with(model: @event, local: true) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= @event.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="event_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="event_day_time_at">
    <%= form.label :day_time_at %>
    <%= form.date_select :day_time_at%>
  </div>
  <div class="event_participant_number">
    <%= form.label :participant_number %>
    <%= form.text_field :participant_number %>
  </div>
  <div class="event_address">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div class="event_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="event_icon_new">
    <%= form.label :icon %>
    <%= image_tag(@event.icon.url) if @event.icon && @event.icon.url %>
    <%= form.file_field :icon %>
    <%= form.hidden_field :icon_cache %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to 'イベント一覧画面に戻る',events_path %>
