<div class="container">
  <div class="row">
    <div class="experience">
      <p>初級編</p>
      <div class="low col-sm-12">
        <table class ='experience'>
          <tr>
            <th>タイトル</th>
            <th>概要</th>
            <th>心霊現象発生回数</th>
            <th></th>
          </tr>
        <% @experiences.each do |experience| %>
          <% if experience.danger_level == "1" %>
            <tr>
              <td class='icon icon1'><%= experience.title %></td>
              <td><%= experience.outline %></td>
              <td><%= experience.watches.count %></td>
              <td><%= link_to '詳細', experience_path(experience.id), class: 'btn btn-light btn-sm' %></td>
            </tr>
          <% end %>
        <% end %>
        </table>
      </div>
      <p>中級編</p>
      <div class="middle col-sm-12">
        <table class ='experience'>
          <tr>
            <th>タイトル</th>
            <th>概要</th>
            <th>心霊現象発生回数</th>
            <th></th>
          </tr>
        <% @experiences.each do |experience| %>
          <% if experience.danger_level == "2" %>
            <tr>
              <td class='icon icon2'><%= experience.title %></td>
              <td><%= experience.outline %></td>
              <td><%= experience.watches.count %></td>
              <td><%= link_to '詳細', experience_path(experience.id), class: 'btn btn-light btn-sm' %></td>
            </tr>
          <% end %>
        <% end %>
        </table>
      </div>
      <p>上級編</p>
      <div class="high col-sm-12">
        <table class ='experience'>
          <tr>
            <th>タイトル</th>
            <th>概要</th>
            <th>心霊現象発生回数</th>
            <th></th>
          </tr>
        <% @experiences.each do |experience| %>
          <% if experience.danger_level == "3" %>
            <tr>
              <td class='icon icon3'><%= experience.title %></td>
              <td><%= experience.outline %></td>
              <td><%= experience.watches.count %></td>
              <td><%= link_to '詳細', experience_path(experience.id), class: 'btn btn-light btn-sm' %></td>
            </tr>
          <% end %>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
